<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsSortMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="id">
		insert into bc_goods_sort(
			NAME,	
			PARENT_ID,	
			PARENT_NAME,	
			IS_SHOW,	
			KEY_WORDS,	
			SORT_DESCRIPTION,	
			TYPE_IDS,	
			PROPERTY_IDS,	
			NAVIGATION,	
			SORT,	
			NUMBER_UNIT,	
			HOME_RECOMMEND,	
			NUM_PRICE,	
			STATUS,	
			ID,
			UPDATE_TIME
		) values (
			#{NAME},	
			#{PARENT_ID},	
			#{PARENT_NAME},	
			#{IS_SHOW},	
			#{KEY_WORDS},	
			#{SORT_DESCRIPTION},	
			#{TYPE_IDS},	
			#{PROPERTY_IDS},	
			#{NAVIGATION},	
			#{SORT},	
			#{NUMBER_UNIT},	
			#{HOME_RECOMMEND},	
			#{NUM_PRICE},	
			#{STATUS},	
			#{ID},
			#{UPDATE_TIME}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from bc_goods_sort
		where 
			ID = #{ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  bc_goods_sort
			set 
				NAME = #{NAME},
				PARENT_ID = #{PARENT_ID},
				PARENT_NAME = #{PARENT_NAME},
				IS_SHOW = #{IS_SHOW},
				KEY_WORDS = #{KEY_WORDS},
				SORT_DESCRIPTION = #{SORT_DESCRIPTION},
				TYPE_IDS = #{TYPE_IDS},
				PROPERTY_IDS = #{PROPERTY_IDS},
				NAVIGATION = #{NAVIGATION},
				SORT = #{SORT},
				NUMBER_UNIT = #{NUMBER_UNIT},
				HOME_RECOMMEND = #{HOME_RECOMMEND},
				NUM_PRICE = #{NUM_PRICE},
				STATUS = #{STATUS},
				UPDATE_TIME = #{UPDATE_TIME},
			ID = ID
			where 
				ID = #{ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			NAME,	
			PARENT_ID,	
			PARENT_NAME,	
			IS_SHOW,	
			KEY_WORDS,	
			SORT_DESCRIPTION,	
			TYPE_IDS,	
			PROPERTY_IDS,	
			NAVIGATION,	
			SORT,	
			NUMBER_UNIT,	
			HOME_RECOMMEND,	
			NUM_PRICE,	
			STATUS,	
			ID
		from 
			bc_goods_sort
		where 
			ID = #{ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.NAME,	
				a.PARENT_ID,	
				a.PARENT_NAME,	
				a.IS_SHOW,	
				a.KEY_WORDS,	
				a.SORT_DESCRIPTION,	
				a.TYPE_IDS,	
				a.PROPERTY_IDS,	
				a.NAVIGATION,	
				a.SORT,	
				a.NUMBER_UNIT,	
				a.HOME_RECOMMEND,	
				a.NUM_PRICE,	
				a.STATUS,	
				a.ID
		from 
				bc_goods_sort a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.NAME,	
				a.PARENT_ID,	
				a.PARENT_NAME,	
				a.IS_SHOW,	
				a.KEY_WORDS,	
				a.SORT_DESCRIPTION,	
				a.TYPE_IDS,	
				a.PROPERTY_IDS,	
				a.NAVIGATION,	
				a.SORT,	
				a.NUMBER_UNIT,	
				a.HOME_RECOMMEND,	
				a.NUM_PRICE,	
				a.STATUS,	
				a.ID
		from 
				bc_goods_sort a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from bc_goods_sort
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>