<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BrandMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="id">
		insert into bc_brand(
			NAME,	
			URL,	
			LOGO_IMAGE,	
			DESCRIPTION,	
			SORT,	
			IS_SHOW,
			UPDATE_TIME,	
			ID
		) values (
			#{NAME},	
			#{URL},	
			#{LOGO_IMAGE},	
			#{DESCRIPTION},	
			#{SORT},	
			#{IS_SHOW},	
			#{UPDATE_TIME},
			#{ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from bc_brand
		where 
			ID = #{ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  bc_brand
			set 
				NAME = #{NAME},
				URL = #{URL},
				LOGO_IMAGE = #{LOGO_IMAGE},
				DESCRIPTION = #{DESCRIPTION},
				IS_SHOW = #{IS_SHOW},
				UPDATE_TIME = #{UPDATE_TIME},
			ID = ID
			where 
				ID = #{ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			NAME,	
			URL,	
			LOGO_IMAGE,	
			DESCRIPTION,	
			SORT,	
			IS_SHOW,	
			ID
		from 
			bc_brand
		where 
			ID = #{ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.NAME,	
				a.URL,	
				a.LOGO_IMAGE,	
				a.DESCRIPTION,	
				a.SORT,	
				a.IS_SHOW,	
				a.ID
		from 
				bc_brand a where 1 = 1
				<if test="pd.content!=null and pd.content!=''">
				 and (a.name LIKE CONCAT(CONCAT('%', #{pd.content}),'%') or
				      a.description LIKE CONCAT(CONCAT('%', #{pd.content}),'%'))
			    </if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.NAME,	
				a.URL,	
				a.LOGO_IMAGE,	
				a.DESCRIPTION,	
				a.SORT,	
				a.IS_SHOW,	
				a.ID
		from 
				bc_brand a where 1 = 1
				<if test="pd.content!=null and pd.content!=''">
				 and (a.name LIKE CONCAT(CONCAT('%', #{pd.content}),'%') or
				      a.description LIKE CONCAT(CONCAT('%', #{pd.content}),'%'))
			    </if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from bc_brand
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>